body{
    background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
    background-color: #131313;
    background-size: 20px 20px;
    /*font-family: 'Raleway' 'Roboto', sans-serif;*/
    color:rgb(226, 132, 31)
}
/*  RYAN please edit text colors for carousel*/

#carouselText{
    color:darkgray;
}

* {
    text-align: center;
}
img{
    align-self:center;
}

.card-text{
    font-size: 19px;
    color: #131313;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.card-body{
    color: rgb(0, 0, 0);
}
.card{
    background-color: #ff910094;
}


/* #Nav bar color changes */

/* Modify the background color */
.navbar-custom {
    background-color: #fca400;
}
/* Modify brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(1, 1, 1);
}