{% extends "layout.html" %}
{% block body_content %}
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text e
        ver since the 1500s, when an unknown printer took a galley of type a
        nd scrambled it to make a type specimen book. It has survived not only fi
        ve centuries, but also the leap into electronic typesetting, remaining ess
        entially unchanged. It was popularised in the 1960s with the release of Letras
        et sheets containing Lorem Ipsum passages, and more recently with desktop publi
        shing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

{% endblock %}