{% extends "layout.html" %}
{% block body_content %}
 
    <title>Contact Us</title>
<body>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <p>Here at CCBG we are keen to interact with everyone from fully fledged sim racing veterans to people completely new to our virtual racing world.
        Below are all of the different ways you can interact with us. From seeing past race footage, to tips and hints about customising your 
        set up to best meet your needs if we can be of help to you or provide inspiration then we will do our best to be of assistance. All of the options you can use to contact us are listed below please click on the icon for the appropriate service
            if you select Twitter, Instagram, Twitch or YouTube it'll take you to our profile pages/channels on these platforms or hit the Gmail icon to send us an email :
        </p>
    </div>
    <div class="col-sm-1"></div>
</div>
<br>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-2"><a href="https://www.instagram.com/"><img src="{{url_for('static', filename= 'images/Instagram.jpeg')}}"width="75"height="75"></a></div>
    <div class="col-sm-2"><a href="https://twitter.com/home" ><img src="{{url_for('static', filename= 'images/Twitter1.jpeg')}}"width="75"height="75"></a></div>
    <div class="col-sm-2"><a href="https://www.twitch.tv/ccbgracing"><img src="{{url_for('static', filename= 'images/Twitch.png')}}"width="75"height="75"></a></div>
    <div class="col-sm-2"><a href="https://studio.youtube.com/channel/UC94FeYSvGoShEj6oUxQ88-Q/videos/upload?filter=%5B%5D&sort=%7B%22columnType%22%3A%22date%22%2C%22sortOrder%22%3A%22DESCENDING%22%7D" method="get"><img src="{{url_for('static', filename= 'images/YouTube.jpeg')}}"width="75"height="75"></a></div>
    <div class="col-sm-2"><a href="mailto:ccbgracing@gmail.com"><img src="{{url_for('static', filename= 'images/Gmail.jpeg')}}" width="75"height="75"></a></div>
    <div class="col-sm-1"></div>
</div>
<br>


</div>
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <p>
            Feel free to reach out in whatever way is best for you and we will aim to reply to enquiries within 2 working days.
        </p>
    </div>
    <div class="col-sm-1"></div>
</div>
{% endblock %}