{% extends "layout.html" %}
{% block body_content %}

<div class="container">
    <div class="row g-4">

      <div class="col">
        <div class="card" style="width:250px">
          <img src="{{url_for('static', filename= 'images/senna-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h2 class="card-title">B. Smith</h2>
            <p class="card-text">test test, test test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width:250px">
         <img src="{{url_for('static', filename= 'images/michael_helmet-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h2 class="card-title">Chitty</h2>
            <p class="card-text">Test Test,Test Test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width:250px">
          <img src="{{url_for('static', filename= 'images/james_hunt_helmet-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h2 class="card-title">S. Reade</h2>
            <p class="card-text">Test Test, test test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width:250px">
          <img src="{{url_for('static', filename= 'images/jacques-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h2 class="card-title">R. Coston</h2>
            <p class="card-text">Test Test, Test Test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width:250px">
          <img src="{{url_for('static', filename= 'images/glock_helmet-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h2 class="card-title">T. Glock</h2>
            <p class="card-text">test test, test test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width:250px">
         <img src="{{url_for('static', filename= 'images/hill_helmet-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h2 class="card-title">D. Hill</h2>
            <p class="card-text">Test Test,Test Test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width:250px">
          <img src="{{url_for('static', filename= 'images/mansell_helmet-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h2 class="card-title">N. Mansell</h2>
            <p class="card-text">Test Test, test test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card" style="width:250px">
          <img src="{{url_for('static', filename= 'images/irvine_helmet-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h2 class="card-title">E. Irvine</h2>
            <p class="card-text">Test Test, Test Test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

    </div>
  </div>


{% endblock %}