{% extends "layout.html" %}
{% block body_content %}
<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3">
        <div class="card" style="width:300px">
          <img src="{{url_for('static', filename= 'images/senna-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Baz Smith</h4>
            <p class="card-text">test test, test test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="width:300px">
         <img src="{{url_for('static', filename= 'images/michael_helmet-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Chitty</h4>
            <p class="card-text">Test Test,Test Test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="width:300px">
          <img src="{{url_for('static', filename= 'images/james_hunt_helmet-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h4 class="card-title">S. Reade</h4>
            <p class="card-text">Test Test, test test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

      <div class="col-sm-3">
        <div class="card" style="width:300px">
          <img src="{{url_for('static', filename= 'images/jacques-PhotoRoom.png')}}" alt="Senna helmet"
            style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Ryan Coston</h4>
            <p class="card-text">Test Test, Test Test</p>
            <a href="#" class="btn btn-dark">See Profile</a>
          </div>
        </div>
      </div>

    </div>
  </div>


{% endblock %}