<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{title}} - Page</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    
  <!-- bootstrap style link -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/penguin.ico') }}">
</head>

<body>
  
  <!--header-->
  <nav class="navbar navbar-expand-lg navbar-brand bg-dark">
    <div class="container">
      <a class="navbar-brand text-white" href="{{ url_for('home')}}">CCBG</a>
      <button class="btn btn-dark navbar-toggler border-3 px-2" type="button" data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"
        >
      <img style="width: 60px" src="{{ url_for('static', filename='images/flag.png')}}" alt="menu icon">
      </button>
      <div class="offcanvas offcanvas-start-lg bg-dark" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel"
        >
        <div class="offcanvas-header d-flex d-lg-none">
          <h5 class="offcanvas-title text-white" id="offcanvasExampleLabel">Welcome</h5>
          <a href="javascript:void(0) "
            class="text-reset p-0"
            data-bs-dismiss="offcanvas"
            aria-label="close"
            >
            <svg xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="#FFFFFF"
              class="bi bi-x-circle"
              viewBox="0 0 16 16"
              >
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </a>
        </div>
        <div class="offcanvas-body p-lg-0">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('home')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('driver_profile')}}">Profiles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('schedules')}}">Schedules</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('register')}}">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('contact_us')}}">Contact us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>



  <header>
    <h1>{{title}} Page</h1>
  </header>
  {% block body_content %}{% endblock %}
  <!--footer-->
  <footer>
    <a href="{{url_for('home')}}">Home</a>

    <a href="{{ url_for('driver_profile')}}">Profiles</a>
    <a href="{{ url_for('schedules')}}">Schedules</a>
    <a href="{{ url_for('register')}}">Register</a>
    <p>Chitty Chitty Baz Gang &copy;</p>
  </footer>
  <!-- js script links etc-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
</body>

</html>