<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCBG Racing</title>

    <link rel="stylesheet" href='/application/static/styles.css'>
</head>
<title>CCBG Racing</title>
<h1>CCBG Racing</h1>
<body>

    <img src="/ccbg_project/application/static/images/g647.png" alt="CCBG Logo" width="700" height="200">
<p>Welcome to Chitty Chitty Baz Gang Racing affectionately abbreviated to and known as CCBG Racing.
   This page is to make sure you have reached the right place if you want to find out more click below to enter, if you
   have come to the wrong place thanks for stopping by anyway and hopefully we'll see you again soon! </p>

   <form>
    <button style="background-color:rgb(226, 132, 31); border-color:black; color:black;" formaction="home.html">Click Here To Enter!</button>
  </form>
<footer>©Copyright CCBG Ltd 2022</footer>
</body>
</html>