<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CCBG Racing</title>

    <link rel="stylesheet" href="{{url_for('static', filename= 'styles.css')}}">
<style>
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
</style>
</head>
<title>CCBG Racing</title>
<div class="container">
    <h1> CCBG Racing</h1>


 </div>


<br>
<br>
<br>
<br>
<br>

<body>

    <img src="{{url_for('static', filename= 'images/g647.png')}}"width="600" height ="300">
    <br>
    <br>
    <br>
<p>Welcome to Chitty Chitty Baz Gang Racing affectionately abbreviated to and known as CCBG Racing.</p>
   <p>This page is to make sure you have reached the right place if you want to find out more click below to </p><p>enter, if you
   have come to the wrong place thanks for stopping by anyway and hopefully we'll see you again soon! </p>
<br>
    <br>
    <br>

   <form>
    <button style="background-color:rgb(226, 132, 31); border-color:black; color:black;" formaction={{url_for('home')}}>Click Here To Enter!</button>
  </form>
<br>
    <br>
    <br>
    <br>
    <br>


 <a href="https://www.instagram.com/">
         <img alt="Instagram" src="/ccbg_project/application/static/images/Instagram.jpeg"
         width="150" height="150">
      </a>

     <a href="https://twitter.com/home">
         <img alt="Twitter" src="/ccbg_project/application/static/images/Twitter.png"
         width="150" height="150">
      </a>

        <a href="https://studio.youtube.com/channel/UC94FeYSvGoShEj6oUxQ88-Q/videos/upload?filter=%5B%5D&sort=%7B%22columnType%22%3A%22date%22%2C%22sortOrder%22%3A%22DESCENDING%22%7D" >
         <img alt="YouTube" src="/ccbg_project/application/static/images/YouTube.png"
         width="150" height="150">
      </a>

        <a href="https://www.twitch.tv/ccbgracing">
         <img alt="Twitch" src="/ccbg_project/application/static/images/Twitch.png"
         width="150" height="150">
      </a>

        <a href="mailto:ccbgracing@gmail.com">
         <img alt="Gmail" src="/ccbg_project/application/static/images/Gmail.png"
         width="150" height="150">
      </a>

<footer>©Copyright CCBG Ltd 2022</footer>
</body>
</html>